<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="patient-profile-title">My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center ion-padding">
  <ion-avatar class="avatar">
    <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
  </ion-avatar>
  <div class="profile-info">
    <h2>Vision Shikwambane</h2>
    <p>Email: john.doexample.com</p>
    <p>Location: New York City</p>
    <p>Joined: January 2023</p>
    <hr>
    <h3>About Me</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis lorem ut libero malesuada feugiat. Vivamus suscipit tortor eget felis porttitor volutpat.</p>
    <hr> 
    <h3>Interests</h3>
    <p>Programming, Design, Music, Traveling</p>
    <hr> 
    <ion-button expand="block" color="primary">Edit Profile</ion-button>
  </div>
</ion-content>
