.avatar {
    width: 80px; /* Set your desired width */
    height: 80px; /* Set your desired height */
    margin: 0 auto; /* Center horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .name-surname {
    margin-top: 20px; /* Adjust spacing between avatar and text */
  }


  .avatar {
    width: 150px; /* Set your desired width */
    height: 150px; /* Set your desired height */
    margin: 0 auto 20px; /* Center horizontally and add some space at the bottom */
  }
  
  .profile-info {
    background-color: #f9f9f9; /* Light gray background */
    padding: 20px; /* Add padding */
    border-radius: 10px; /* Rounded corners */
  }
  
  .profile-info h2, .profile-info h3 {
    margin-bottom: 10px; /* Add some space below headings */
  }
  
  .profile-info hr {
    border: none; /* Remove default border */
    border-top: 1px solid #ccc; /* Add custom border */
    margin: 20px 0; /* Add space above and below horizontal lines */
  }
  
  .profile-info p {
    margin-bottom: 8px; /* Add space between paragraphs */
  }
  
  .profile-info ion-icon {
    margin: 0 5px; /* Add space between social media icons */
  }

  .patient-profile-title{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(37, 75, 133);;
    color: white;
  }
  

  .block {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  ion-modal {
    --height: auto;
  }

  .edit-profile-modal{
    --height: 80%;
  }

  .custom-input {
    --highlight-color-focused: var(--ion-color-primary);
    --border-color: #ccc;
    --padding-start: 8px;
  }
  
  .custom-label {
    color: #333;
  }
  
  .custom-input-field {
    border-radius: 5px;
    border: 1px solid var(--border-color);
    background-color: #f7f7f7;
    padding: 10px;
  }
  
  .custom-input-field:focus {
    border-color: var(--highlight-color-focused);
    box-shadow: 0 0 5px var(--highlight-color-focused);
  }
  
  .edit-profile-form{
    width: 100%;
    margin-top: 50%;
  }