


<ion-header class="patient-header">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button style="color: white;"></ion-menu-button>
    </ion-buttons>
    <ion-title class="patient-profile-title">
      Profile
    </ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true" class="ion-text-center ion-padding">

  <ion-avatar class="avatar" id="open-modal">
    <img alt="Silhouette of a person's head" src={{avatorString}} />
  </ion-avatar>

  <div class="profile-info">
    <h2>{{patientProfile?.name}} {{patientProfile?.surname}}</h2>
    <p>Email: {{patientProfile?.email}}</p>
    <p>Location: New York City</p>
    <p>Phone Number: {{patientProfile?.phoneNumber}}</p>
    <p>Date Joined: {{patientProfile?.phoneNumber}}</p>
    <hr>
    <h3>Medical Condition</h3>
    <p>{{patientProfile?.medicalCondition}}</p>
    <hr>
    <h3>Interests</h3>
    <p>{{patientProfile?.interests}}</p>
    <hr>
    <ion-button expand="block"  class="edit-button" id="open-edit-modal">Edit Profile</ion-button>
  </div>


  <ion-modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
    <ng-template>
      <div class="block">
        <ion-img src={{avatorString}} alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
      </div>
      <ion-button color="light" style="width: 30%; align-self: center;">Upload New</ion-button>
    </ng-template>
  </ion-modal>


  <ion-modal trigger="open-edit-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]" class="edit-profile-modal">
    <ng-template>
      <div class="logo-container">
        <img src="../assets/logos/WellnessSync-logos_black_symbol.png" alt="Logo" class="logo">
      </div>   
      <div class="block">   
        <ion-list lines="full" class="edit-profile-form">
          <form class="centered-notes">
            <ion-item>
              <ion-input type="text" name="name" required placeholder="Name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" name="surname" required placeholder="Surname"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="tel" name="phoneNumber" required placeholder="Phone number"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="email" name="email" required placeholder="Email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-textarea placeholder="Medical Condition"></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-textarea placeholder="Medical Condition"></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-select name="title" required placeholder="Title">
                <ion-select-option value="Mr">Mr</ion-select-option>
                <ion-select-option value="Ms">Ms</ion-select-option>
              </ion-select>
            </ion-item>
          
          </form>
        </ion-list>
     
      </div>
      <ion-button expand="full" class="update-button" >Update</ion-button>
    </ng-template>
    
  </ion-modal>

</ion-content>

