<ion-header class="patient-header">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      Available Consultations slots
    </ion-buttons>
    <ion-title class="patient-home-title"> 
    </ion-title>
    <ion-buttons slot="end">
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Search available consultations"></ion-searchbar>
  <ion-list>
    <ion-item>
      <ion-label>Pokémon Yellow Date: 16 Nov 2023: 14:20-14:25</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Pokémon Yellow Date: 16 Nov 2023: 14:20-14:25</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Pokémon Yellow Date: 16 Nov 2023: 14:20-14:25</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Pokémon Yellow Date: 16 Nov 2023: 14:20-14:25</ion-label>
    </ion-item>
  </ion-list>
</ion-content>