<app-ion-menu></app-ion-menu>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="patient-home" href="/patient/patient-home">
      <ion-icon name="home-outline"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="consultations"  href="/patient/consultations">
      <ion-icon name="medkit-outline"></ion-icon>
      Consulatation
    </ion-tab-button>
    <ion-tab-button tab="medicine"  href="/patient/medicine">
      <ion-icon name="bandage-outline"></ion-icon>
      Medicine
    </ion-tab-button>
    <ion-tab-button tab="patient-profile"  href="/patient/patient-profile">
      <ion-icon name="person-outline"></ion-icon>
      Profile
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

