.doctor-home-title{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
  ion-toolbar {
    height:100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    --background: rgba(0, 0, 0, 0.5) url('https://i.pinimg.com/564x/a6/ac/1d/a6ac1d2c078e0aa6c9250cfc7a8c2b6e.jpg') no-repeat center center / cover;
    --ion-color-base: transparent; 
   
   }

   .doctor-home-title{
    color: rgb(255, 255, 255);
    font-weight:bolder;
    font-style: italic;
    font-size:150%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
   
 
 